---
import PawCursor from '$components/PawCursor.svelte';
import { SEO } from 'astro-seo';

import '@fontsource/jetbrains-mono/400.css';
import '@fontsource/jetbrains-mono/500.css';
import '@fontsource/jetbrains-mono/600.css';
import '@fontsource/plus-jakarta-sans/400.css';
import '@fontsource/plus-jakarta-sans/500.css';

import '../css/globals.scss';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const bodyClass =
	/\/docs\/(svelte|react|solid|vanilla|vue)/gi.exec(Astro.url.pathname)?.[1] ??
	'';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>

		<link
			rel="sitemap"
			type="application/xml"
			title="Sitemap"
			href="/sitemap-index.xml"
		/>
		<title>{title}</title>
	</head>

	<SEO
		canonical={`https://www.neodrag.dev${Astro.url.pathname}`}
		description="Your one stop solution for anything draggable with JavaScript. Adapters for React, Svelte, Vue, SolidJS and JavaScript. Fully TypeScript compliant."
		openGraph={{
			basic: {
				image: 'https://www.neodrag.dev/banner.png',
				title,
				type: 'website',
				url: `https://www.neodrag.dev${Astro.url.pathname}`,
			},
		}}
		twitter={{
			card: 'summary_large_image',
			creator: '@puruvjdev',
			site: 'neodrag.dev',
		}}
	/>

	<body class:list={[bodyClass, bodyClass && 'framework']}>
		<slot />

		<PawCursor client:only />

		<script>
			import { theme } from '$stores/user-preferences.store';

			const themeLocal = JSON.parse(localStorage.getItem('neodrag:theme')!);

			if (!themeLocal) {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					theme.set('dark');
				} else {
					theme.set('light');
				}
			} else {
				theme.set(themeLocal);
			}

			theme.subscribe(($theme) => {
				document.body.classList.remove('dark', 'light');
				document.body.classList.add($theme);
			});
		</script>
	</body>
</html>
