/* optional imports that use the props */
@import 'open-props/normalize';

@import './themes';
@import './breakpoints';
@import './include-media';

* {
	color: var(--app-color-dark);
}

html {
	width: 100%;
}

html,
body {
	height: 100%;
	width: 100%;

	background-color: var(--app-color-shell);

	scroll-behavior: smooth;

	font-family: var(--app-font-main);
}

body {
	height: auto !important;

	accent-color: var(--app-color-primary);
}

:is(h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5) {
	width: max-content;

	color: var(--app-color-dark);
	font-family: var(--app-font-heading);
	word-break: break-all;

	margin: 0.75em 0 0.25em;

	max-width: 100%;
}

h1,
.h1 {
	margin-top: 0;
	font-size: clamp(2.35rem, 10vw, 3.998rem);
}

h2,
.h2 {
	font-size: clamp(1.77rem, 5vw, 2.827rem);
}

h3,
.h3 {
	font-size: clamp(1.33rem, 2.5vw, 1.999rem);
}

h4,
.h4 {
	font-size: clamp(1rem, 1.25vw, 1.414rem);
}

code {
	color: var(--app-color-dark);
	background-color: var(--app-color-dark-contrast);

	font-family: var(--app-font-mono);
}

pre code {
	color: initial;
	background-color: initial;
}

kbd {
	font-family: var(--app-font-mono);
	font-weight: 400;
}

:is(a[href], a[href]:visited):where(:not(.unstyled)) {
	--distance: calc(50% - 0.375rem);
	--opacity: 0.35;
	--duration: 150ms;
	--easing: ease-in-out;

	color: var(--app-color-primary);
	font-weight: 600 !important;
	text-decoration: none;

	padding: 0 0.25rem;

	background-image: linear-gradient(
		transparent 0%,
		transparent var(--distance),
		hsla(var(--app-color-primary-hsl), var(--opacity)) var(--distance),
		hsla(var(--app-color-primary-hsl), var(--opacity)) 100%
	);
	background-size: 100% 200%;
	background-position: 0 0;

	transition: var(--duration) var(--easing);
	transition-property: color, background-position, background-image,
		border-radius;

	&:hover,
	&:focus-visible {
		background-position: 0 100%;

		color: var(--app-color-primary-contrast);
		font-weight: 600 !important;

		border-radius: 0.25rem;

		--opacity: 1;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

// Set the text-FRAMEWORK
// Map of frameworks
$frameworks: svelte, react, vue, solid, vanilla;

@each $framework in $frameworks {
	// Set the text-FRAMEWORK
	.text-#{$framework} {
		color: var(--app-color-brand-#{$framework});
		fill: var(--app-color-brand-#{$framework});
	}

	.bg-#{$framework} {
		background-color: var(--app-color-brand-#{$framework});
	}
}

::selection {
	background-color: var(--app-color-primary);
	color: var(--app-color-primary-contrast);
	-webkit-text-fill-color: var(--app-color-primary-contrast);
}

p {
	word-wrap: normal;
}

button {
	background-color: transparent;
}

.font-mono {
	font-family: var(--app-font-mono);
}
