/* optional imports that use the props */
@import 'open-props/normalize';

@import './themes';

* {
	color: var(--app-color-dark);
}

body {
	background-color: var(--app-color-shell);
}

h1,
h2,
h3 {
	width: max-content;

	color: var(--app-color-dark);
}

code {
	color: var(--app-color-light);
}
