body,
body.light {
	// #a1182b
	--app-color-primary: hsl(352, 74%, 36%);
	--app-color-primary-hsl: 352, 74%, 36%;
	--app-color-primary-contrast: hsl(0, 0%, 95%);
	--app-color-primary-contrast-hsl: 0, 0%, 10%;

	--app-color-primary-gradient: radial-gradient(
		circle farthest-corner at 10% 20%,
		#f093fb 0%,
		#f5576c 100%
	);

	--app-color-dark: hsl(0 0% 10%);
	--app-color-dark-contrast: var(--app-color-light);
	--app-color-dark-hsl: 0, 0%, 10%;
	--app-color-dark-hs: 0, 0%;

	--app-color-light: var(--gray-1);
	--app-color-light-contrast: var(--app-color-dark);
	--app-color-light-hsl: 0, 0%, 98%;

	--app-color-shell: hsl(200, 8%, 100%);
	--app-color-shell-contrast: hsl(0, 0%, 10%);

	--app-color-brand-svelte: #ff3e00;
	--app-color-brand-react: #0097b3;
	--app-color-brand-vue: #3ba676;
	--app-color-brand-solid: #2c4f7c;
	--app-color-brand-vanilla: var(--app-color-dark);

	--app-font-mono: 'Jetbrains mono', var(--font-mono);
	--app-font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--app-font-heading: 'Plus Jakarta sans', system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark {
	--app-color-primary: #f88292;
	--app-color-primary-hsl: 352, 89%, 74%;
	--app-color-primary-contrast: hsl(0 0% 10%);

	--app-color-dark: hsl(210, 17%, 95%);
	--app-color-dark-hsl: 210, 17%, 95%;
	--app-color-dark-hs: 210, 17%;

	--app-color-light: var(--gray-9);

	--app-color-shell: hsl(200, 8%, 7%);
	--app-color-shell-contrast: var(--gray-1);

	--app-color-brand-svelte: #ff511a;
	--app-color-brand-react: #61dafc;
	--app-color-brand-vue: #42b883;
	--app-color-brand-solid: #8fa6c5;
	--app-color-brand-vanilla: var(--app-color-dark);
}
