@mixin handle {
	background-color: hsla(var(--app-color-primary-contrast-hsl), 1);

	padding: 0.25rem 0.25rem;

	border-radius: 4px;

	cursor: move;
}

@mixin box {
	color: hsla(var(--app-color-primary-contrast-hsl), 0.7);
}
