---
import HeroExample from '$components/home/HeroExample.svelte';
import MultiframeworkFeature from '$components/home/MultiframeworkFeature.svelte';
import Layout from '$layouts/Layout.astro';
---

<Layout title="Neodrag: One draggable to rule them all">
	<HeroExample client:load />

	<main id="main-content">
		<section class="tagline">
			<h1>Neodrag</h1>
			<p class="h2">One draggable to rule them all</p>
		</section>

		<br /><br /><br /><br />

		<MultiframeworkFeature client:visible />

		<img src="/framework-logos/svelte.svg" alt="{name} logo" />

		<h2>Features</h2>
		<ul>
			<li>Cross framework</li>
			<li>Bring your own state</li>

			<!-- Show with the counter with values going from 10KB to 1.96 KB -->
			<li>Tiny: Only 1.96KB</li>

			<li>Feature rich</li>
			<li>Zero config</li>
			<li>SSR friendly</li>
		</ul>
	</main>
</Layout>

<style lang="scss">
	.tagline {
		h1,
		p {
			margin: 0;
		}

		h1 {
			background-image: var(--app-color-primary-gradient);
			background-clip: text;
			-webkit-text-fill-color: transparent;

			font-size: clamp(3rem, 20vw, 8rem);
			line-height: 1.28;
		}
	}

	main {
		position: relative;

		z-index: 2;
	}
</style>
