---
import LogosGithubIcon from '~icons/logos/github-icon';

import BundleSizeFeature from '$components/home/features/bundle-sizes/BundleSizeFeature.svelte';
import FeatureRichFeature from '$components/home/features/feature-rich/FeatureRichFeature.svelte';
import MultipleFrameworksFeature from '$components/home/features/multiple-frameworks/MultipleFrameworksFeature.svelte';
import HeroExample from '$components/home/HeroExample.svelte';
import Layout from '$layouts/Layout.astro';
---

<Layout title="Neodrag: One draggable to rule them all">
	<main id="main-content">
		<section class="tagline">
			<div class="intro">
				<h1>Neodrag</h1>
				<p class="h4" style="text-align: center; width: 100%">
					One draggable to rule them all
				</p>

				<br /><br /><br />

				<div class="group">
					<!-- TODO: Make this /docs -->
					<a href="/docs/svelte">Getting Started</a>
					<a href="https://github.com/puruvj/neodrag">
						<LogosGithubIcon /> Github
					</a>
				</div>
			</div>

			<div class="demo">
				<HeroExample client:load />
			</div>
		</section>

		<br /><br /><br /><br />

		<section class="feature-multi-frameworks two-col">
			<MultipleFrameworksFeature client:visible />
		</section>

		<section class="feature-bundle-sizes">
			<BundleSizeFeature client:visible />
		</section>

		<section class="feature-feature-rich">
			<FeatureRichFeature client:visible />
		</section>

		<h2>Features</h2>
		<ul>
			<li>Cross framework</li>
			<li>Bring your own state</li>

			<!-- Show with the counter with values going from 10KB to 1.96 KB -->
			<li>Tiny: Only 1.96KB</li>

			<li>Feature rich</li>
			<li>Zero config</li>
			<li>SSR friendly</li>
		</ul>
	</main>
</Layout>

<style lang="scss">
	.tagline {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 5rem;

		padding: 1rem 0;

		height: 100vh;

		.demo {
			height: 100%;
		}

		h1,
		p {
			margin: 0;
		}

		h1 {
			background-image: var(--app-color-primary-gradient);
			background-clip: text;
			-webkit-text-fill-color: transparent;

			font-size: clamp(3rem, 20vw, 8rem);
			line-height: 1.28;
		}

		.group {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;

			margin-top: 1rem;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;

				padding: 1rem 2rem;

				border-radius: 1rem !important;

				font-size: 1.4rem;

				:global(svg path) {
					fill: var(--app-color-primary);

					transition: fill 150ms ease-in;
				}

				&:hover {
					:global(svg path) {
						fill: var(--app-color-primary-light);
					}
				}
			}
		}
	}

	main {
		position: relative;

		z-index: 2;

		padding: 0 1rem;
	}

	.feature-multi-frameworks,
	.feature-bundle-sizes,
	.feature-feature-rich {
		display: grid;
		grid-template-columns: 1fr 1fr;

		margin-bottom: 10rem;

		& > div:nth-child(1) {
			max-width: 40vw;

			p {
				font-size: 1.5rem;
			}
		}
	}
</style>
