---
import LogosGithubIcon from '~icons/logos/github-icon';

import MultipleFrameworksFeature from '$components/home/features/multiple-frameworks/MultipleFrameworksFeature.svelte';
import HeroExample from '$components/home/HeroExample.svelte';
import Layout from '$layouts/Layout.astro';
---

<Layout title="Neodrag: One draggable to rule them all">
	<HeroExample client:load />

	<main id="main-content">
		<section class="tagline">
			<h1>Neodrag</h1>
			<p class="h4" style="text-align: center; width: 100%">
				One draggable to rule them all
			</p>

			<br /><br /><br />

			<div class="group">
				<a href="/docs">Getting Started</a>
				<a href="https://github.com/puruvj/neodrag">
					<LogosGithubIcon /> Github
				</a>
			</div>
		</section>

		<br /><br /><br /><br />

		<section class="feature-multi-frameworks">
			<MultipleFrameworksFeature client:visible />
		</section>

		<img src="/framework-logos/svelte.svg" alt="{name} logo" />

		<h2>Features</h2>
		<ul>
			<li>Cross framework</li>
			<li>Bring your own state</li>

			<!-- Show with the counter with values going from 10KB to 1.96 KB -->
			<li>Tiny: Only 1.96KB</li>

			<li>Feature rich</li>
			<li>Zero config</li>
			<li>SSR friendly</li>
		</ul>
	</main>
</Layout>

<style lang="scss">
	.tagline {
		display: grid;
		place-content: center;

		height: 70vh;

		h1,
		p {
			margin: 0;
		}

		h1 {
			background-image: var(--app-color-primary-gradient);
			background-clip: text;
			-webkit-text-fill-color: transparent;

			font-size: clamp(3rem, 20vw, 8rem);
			line-height: 1.28;
		}

		.group {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;

			margin-top: 1rem;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;

				padding: 1rem 2rem;

				border-radius: 1rem !important;

				font-size: 1.4rem;

				:global(svg path) {
					fill: var(--app-color-primary);

					transition: fill 150ms ease-in;
				}

				&:hover {
					:global(svg path) {
						fill: var(--app-color-primary-light);
					}
				}
			}
		}
	}

	main {
		position: relative;

		z-index: 2;

		padding: 0 1rem;
	}

	.feature-multi-frameworks {
		display: grid;
		grid-template-columns: 1fr 1fr;

		& > div:nth-child(1) {
			max-width: 40vw;

			p {
				font-size: 1.5rem;
			}
		}
	}
</style>
