---
import Layout from '$layouts/Layout.astro';
---

<Layout title="Hola Moori">
	<h1>One draggable to rule them all</h1>
</Layout>

<style lang="scss">
	h1 {
		background-image: var(--app-color-primary-gradient);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
