---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hola Moori">
	<h1>Hello</h1>
</Layout>

<style lang="scss">
	h1 {
		font-size: 10em;

		background-image: var(--app-color-primary-gradient);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
