---
import type { MarkdownHeading } from 'astro';

type Props = {
	headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<aside aria-label="Links to sections in this Page">
	<nav>
		<ul>
			{
				headings.map(({ depth, slug, text }) => (
					<li style={{ '--level': depth - 2 }}>
						<a href={`#${slug}`} class="unstyled">
							{text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</aside>

<style>
	aside {
		display: grid;
		align-items: center;

		width: 17vw;
		height: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		/* position: relative; */

		padding: 0;
		padding-left: calc(var(--level) * 0.5rem);

		height: 1.4rem;

		/* height: 1.4rem; */
		/* font-size: 0.2rem !important; */

		a,
		.placeholder {
			transition: 100ms ease-in;
			transition-property: opacity, color, background-color;
		}

		&.highlighted {
			a {
				color: var(--secondary-color);
			}
		}
	}

	a,
	a:visited {
		color: color-mix(in lch, var(--app-color-dark), transparent 30%);

		font-size: 12px !important;
		line-height: 1 !important;
		margin: 0 !important;
	}
</style>
