<div class="options-examples container">
	<div class="demo">
		<slot name="demo" />
	</div>

	<div class="code-sample">
		<slot name="codes" />
	</div>
</div>

<style lang="scss">
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.code-sample {
		display: grid;

		align-items: center;
	}
</style>
